.centerbuttons > .left {
  margin-left: 15%;
  float: left; }

.centerbuttons > .right {
  margin-right: 15%;
  float: right; }

.centerbuttons {
  width: 30%;
  margin: auto auto; }

.query_table {
  margin-top: 5px;
  margin-bottom: 5px; }

.query_table > table.generaltable {
  text-align: center;
  width: 70%;
  margin: auto auto; }

.query_table > table.generaltable .deleted {
  color: #A00; }

.up_nav_container {
  border: 2px solid #ddd;
  float: left;
  margin-right: -100px;
  margin-bottom: 20px;
  box-shadow: 5px 5px 5px #777;
  border-radius: 10px; }

.up_nav_container > ul {
  margin-left: 15px;
  list-style-type: none; }

.up_nav_container > ul > li.selected:after {
  content: " \25C0"; }
